Django
djangorestframework
beautifulsoup4
celery
django-filter
django-cors-headers
django-jazzmin
djangorestframework-simplejwt
drf-yasg
psycopg2-binary
pillow
gunicorn
redis
python-slugify
python-decouple
requests
selenium